.stats-table thead th {
    vertical-align: inherit;
}

//.scroll-thead {
//    width: 100%;
//    display: inline-table;
//}
//
//.scroll-tbody-y {
//    display: block;
//    overflow-y: scroll;
//    height: 100px;
//}